<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuhrusty.autodad" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".AskPreparedQuestionActivity"
            android:label="@string/title_activity_ask_prepared_question" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DisplayAnswerActivity"
            android:label="@string/title_activity_display_answer"
            android:parentActivityName=".AskPreparedQuestionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kuhrusty.autodad.AskPreparedQuestionActivity" />
        </activity>

        <activity
            android:name=".SoundBoardActivity"
            android:label="@string/title_activity_sound_board"
            android:parentActivityName=".AskPreparedQuestionActivity" >
        </activity>

    </application>

</manifest>
